.imgProd{
    width: 65%;
}
.textCard{
    background: rgba(255, 255, 0, 0.966);
    color: orangered;
}
.textCardP{
    color: #111;
}
.trash{
    color: red;
    background: white;
    height: 1.5em;
    width: 1.5em;
}
.trash:hover{
    color: #111;
}
.containerCard{
    max-width: 13rem;
}
.alert{
    margin-top: 9rem;
}