.imgProd{
    width: 400px;
}
.card_item{
    display: flex;
}
.text_card {
    color: #111;
    font-weight: bold;
}
.productDetail{
    background: rgba(255, 255, 0, 0.966);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 9em;
}
.titulo_detail{
    text-align: left;
}

@media screen and (max-width: 768px) {
    .productDetail{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 9em;
    }
    .btn-primary{
        margin-bottom: 1rem;
    }
}