.cartWidget img{
    background: white;
    font-size: 30px;
    border-radius: 0;
}
span{
    font-size: 18px;
    font-weight: 700;
}
.cartWidget a{
    color: orangered;
    text-decoration: none;
}

