h2{
    text-align: center;
    color: orangered;
    margin-top: 50px;
}
.title{
    color: orangered;
    margin-top: 0 !important;
}
.title:hover{
    background: rgba(255, 68, 0, 0.176);
}
.card{
    text-align: center;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 15%);
}
.card img{
    height: 300px;
}
p.text-center{
    color: #111;
}
