a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-right: 20px;
}
.logo{
    margin-right: 9rem !important;
    color: orangered !important;
    font-weight: bold;
}
.img_logo{
    font-weight: 600;
}
.navbar-brand {
    
    margin-right: 12rem !important;
}
.dropdown-item:hover{
    background-color: rgb(247, 132, 90) !important;
}
.active{
    font-weight: bold;
    color: orangered !important;
    background-color: white !important;
}